
<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" href="{% static 'img/favicon.ico' %}">

	<title>Online Banking</title>

	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&amp;subset=latin-ext" rel="stylesheet">

	<!-- CSS - REQUIRED - START -->
	<!-- Batch Icons -->
	<link rel="stylesheet" href="{% static 'bankprojfiles/dashboards/batch-icons.css' %}">
	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="{% static 'bankprojfiles/dashboards/bootstrap.min.css' %}">
	<!-- Material Design Bootstrap -->
	<link rel="stylesheet" href="{% static 'bankprojfiles/dashboards/mdb.min.css' %}">
	<!-- Custom Scrollbar -->
	<link rel="stylesheet" href="{% static 'bankprojfiles/dashboards/jquery.mCustomScrollbar.min.css' %}">
	<!-- Hamburger Menu -->
	<link rel="stylesheet" href="{% static 'bankprojfiles/dashboards/hamburgers.css' %}">

	<!-- CSS - REQUIRED - END -->

	<!-- CSS - OPTIONAL - START -->
	<!-- Font Awesome -->
	<link rel="stylesheet" href="{% static 'bankprojfiles/dashboards/font-awesome.min.css' %}">
	<!-- JVMaps -->
	<link rel="stylesheet" href="{% static 'bankprojfiles/dashboards/jqvmap.min.css' %}">
	<!-- CSS - OPTIONAL - END -->

	<!-- QuillPro Styles -->
	<link rel="stylesheet" href="{% static 'bankprojfiles/dashboards/quillpro.css' %}">
	<style type="text/css">
		.messages{
			color: red !important;
		}
	</style>
</head>

<body>

	<div class="container-fluid">
		<div class="row">
			<nav id="sidebar" class="px-0 bg-dark bg-gradient sidebar">
				<ul class="nav nav-pills flex-column">
					<li class="logo-nav-item">
						<a class="navbar-brand" href="#">
							<img src="{% static 'bankprojfiles/img/add.jpg' %}" width="145" height="32.3" alt="QuillPro">
						</a>

					</li>

					<li class="nav-item">
						<a class="nav-link" href="{% url 'admindashboard' %}">
							<i class="batch-icon batch-icon-browser-alt"></i>
							Dashboard <span class="sr-only">(current)</span>
						</a>
					</li>

					<li class="nav-item">
						<a class="nav-link active" href="{% url 'admincreateaccount' %}">
							<i class="batch-icon batch-icon-safe"></i>
							Create Account
						</a>
					</li>









						<li class="nav-item">
						<a class="nav-link" href="{% url 'account_settings' %}">
							<i class="batch-icon batch-icon-settings"></i>
							Settings
						</a>
					</li>



						<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">
							<i class="batch-icon batch-icon-locked"></i>
							Logout
						</a>
					</li>



				</ul>




			</nav>
			<div class="right-column">
				<nav class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
					<a class="navbar-brand d-block d-sm-block d-md-block d-lg-none" href="#">
						<img src="{% static 'img/logo.png' %}" width="145" height="32.3" alt="QuillPro">
					</a>
					<button class="hamburger hamburger--slider" type="button" data-target=".sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle Sidebar">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
					<!-- Added Mobile-Only Menu -->
					<ul class="navbar-nav ml-auto mobile-only-control d-block d-sm-block d-md-block d-lg-none">
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" id="navbar-notification-search-mobile" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
								<i class="batch-icon batch-icon-search"></i>							</a>
							<ul class="dropdown-menu dropdown-menu-fullscreen" aria-labelledby="navbar-notification-search-mobile">
								<li>

								</li>
							</ul>
					  </li>
					</ul>

					<!--  DEPRECATED CODE:
						<div class="navbar-collapse" id="navbarSupportedContent">
					-->
					<!-- USE THIS CODE Instead of the Commented Code Above -->
					<!-- .collapse added to the element -->
					<div class="collapse navbar-collapse" id="navbar-header-content">
						<ul class="navbar-nav navbar-language-translation mr-auto">

						</ul>
						<ul class="navbar-nav navbar-notifications float-right">



						</ul>
						<ul class="navbar-nav ml-5 navbar-profile">
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" id="navbar-dropdown-navbar-profile" data-toggle="dropdown" data-flip="false" aria-haspopup="true" aria-expanded="false">
									<div class="profile-name">
										Welcome Admin!
									</div>
									<div class="profile-picture bg-gradient bg-primary has-message float-right">
										<img src="../assets/img/profile-pic.jpg" width="44" height="44">
									</div>
								</a>
								<ul class="dropdown-menu dropdown-menu-right" aria-labelledby="navbar-dropdown-navbar-profile">

									<li><a class="dropdown-item" href="">Settings</a></li>
									<li><a class="dropdown-item" href="">Logout</a></li>


								</ul>
							</li>
						</ul>
					</div>



				</nav>


				<p>&nbsp;</p>
				<p>&nbsp;</p><p>&nbsp;</p>



				<main class="main-content p-5" role="main">

				<div class="row mb-5">
						<div class="col-md-12">
							<div class="card">
								<div class="card-header">
									Create Account
								</div>
								<div class="card-table table-responsive">

									<form method= "post">
										{% csrf_token %}
        {% if form.errors %}
            {% for field in form %}
            <p class="messages">
                <strong class="messages">{{ field.errors|escape }}</strong>
            </p>
            {% endfor %}
        {% endif %}

										<table class="table">


                                        <tr>
										<td width="18%">

                                        <div class="form-group">
										Username Name
										{{form.username}}
										</div>
										</td>
										  <td width="15%"><div class="form-group"> First Name
										    {{form.first_name}}
                                          </div></td>
										  <td width="19%"><div class="form-group"> Last Name
										    {{ form.last_name }}
</div></td>
														<td colspan="2" style="margin-bottom:0px;"><div class="form-group"> Email
														    {{ form.email }}
                                                        </div></td>
														<td colspan="2"><div class="form-group">Password
													     {{ form.password1 }}
													    </div></td>
													    <td><div class="form-group">Repeat Password
													        {{ form.password2 }}
													    </div>													</td>
												    </tr>
													<tr>
													  <td colspan="6" style="margin-bottom:0px;"><div style="padding-top:10px;">
                                                        <input type="submit" name="submit" class="btn btn-primary" id="submit">
                                                      </div></td>
										  </tr>
									  </table>
								  </form>
								</div>
							</div>
						</div>
			  </div>





		  </div>

				</main>
	  </div>
</div>
	</div>

	<!-- SCRIPTS - REQUIRED START -->
	<!-- Placed at the end of the document so the pages load faster -->
	<!-- Bootstrap core JavaScript -->
	<!-- JQuery -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/jquery-3.1.1.min.js' %}"></script>
	<!-- Popper.js - Bootstrap tooltips -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/popper.min.js' %}"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/bootstrap.min.js' %}"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/mdb.min.js' %}"></script>
	<!-- Velocity -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/velocity.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/velocity.ui.min.js' %}"></script>
	<!-- Custom Scrollbar -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/jquery.mCustomScrollbar.concat.min.js' %}"></script>
	<!-- jQuery Visible -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/jquery.visible.min.js' %}"></script>
	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/ie10-viewport-bug-workaround.js' %}"></script>

	<!-- SCRIPTS - REQUIRED END -->

	<!-- ChartJS -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/chart.bundle.min.js' %}"></script>
	<!-- JVMaps -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/jquery.vmap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/jquery.vmap.usa.js' %}"></script>

	<!-- SCRIPTS - OPTIONAL START -->
	<!-- Image Placeholder -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/holder.min.js' %}"></script>
	<!-- SCRIPTS - OPTIONAL END -->

	<!-- QuillPro Scripts -->
	<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/scripts.js' %}"></script>
		<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/jquery.form-validator.min.js' %}"></script>
			<script type="text/javascript" src="{% static 'bankprojfiles/dashboards/forms-validation.js' %}"></script>






</body>

</html>

